@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

.banner {
  @apply bg-cover bg-center;
  background: #000;
}

.active {
  @apply tracking-wide text-green-600 font-bold transition-colors duration-200 animate-pulse;
}

.default {
  @apply tracking-wide text-gray-700 transition-colors duration-200 hover:text-gray-600;
}
