@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

.banner {
  @apply bg-cover bg-center;
  /* background-image: url("https://cdn.pixabay.com/photo/2015/04/10/00/41/food-715542_960_720.jpg"); */
  background: #000;
}
